/ {
        aliases {
                mmc0 = &usdhc2;
                mmc1 = &usdhc3;
                usb0 = &usbotg;
                video0 = &ipu1;
        };

	binman {
		filename = "ts4900-uboot.bin";
		pad-byte = <0xff>;
		size = <0x00100000>;
		sort-by-offset;
		symbols-base = <0>;

		spl: blob-ext@1 {
			filename = "SPL";
			/* XXX: TODO: Verify this offset is needed */
			offset = <0x400>;
		};

		uboot: blob-ext@2 {
			filename = "u-boot-dtb.img";
			// Must match CONFIG_SYS_SPI_U_BOOT_OFFS!
			offset = <0x00040000>; // XXX: TODO: Better align this
		};

/*
		fpga_bitstream: blob-ext@3 {
			filename = "ts4900-fpga.bin";
			align = <0x1000>;
		};
*/
	};
		

	reg_sd_vmmc: regulator-sd-vmmc {
		compatible = "regulator-fixed";
		regulator-name = "SD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 28 GPIO_ACTIVE_HIGH>;
	};
};

/* We need to add line names to the GPIO banks that have our MII interface pins
 * so we can cleanly grab them as GPIO after the devicetree has loaded, but
 * before any of the networking drivers have loaded.
 */
&gpio1 {
	gpio-line-names = "AUD_MCLK", "", "RED_LED#", "", "", "REVA_DIO_1", "",
		"", "",	"REVA_DIO_3", "", "", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "", "REV_STRAP_E";
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "", "", "", "", "", "", "REV_STRAP", "",
		"", "", "DIO_2", "DIO_18", "DIO_12", "DIO_16", "EN_LCD_3.3V",
		"DIO_14", "OFF_BD_RESET#", "EN_USB_5V#", "BUS_CS#", "GREEN_LED#",
		"DIO_15", "BUS_DIR", "BUS_ALE", "EN_SD_POWER#", "DIO_10", "", "";
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "DIO_7", "", "", "", "", "", "",
		"", "", "", "", "LCD_CLK", "LCD_DE", "LCD_HSYNC", "LCD_VSYNC",
		"ENET_PHY_RST", "LCD_D00", "LCD_D01", "LCD_D02", "LCD_D03",
		"LCD_D04", "LCD_D05", "LCD_D06", "LCD_D07", "LCD_D08", "LCD_D08",
		"LCD_D10";
};

&gpio6 {
	gpio-line-names = "", "", "", "CPU_DIO_A", "", "REV_STRAP_D", "DIO_19",
		"", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "",
		"RGMII_RX_CTL", "RGMII_RD0", "", "RGMII_RD1", "RGMII_RD2",
		"RGMII_RD3", "RGMII_RXC", "DIO_13";
};

/* Extend our hog group to include more pins that U-Boot may need, but in the
 * Linux devicetree arn't as often used.
 */
&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog &pinctrl_pcie &pinctrl_muxbus_gpio>;
};

&usdhc1 {
	status = "disabled";
};

&usdhc2 {
	vmmc-supply = <&reg_sd_vmmc>;
	broken-cd;
};

/* We need to use these LED GPIO first for bbdetect. Remove the default state
 * from the DTS, and we will set it manually in board late init. */
&{/led-controller/led-0} {
	/delete-property/ default-state;
};

&{/led-controller/led-1} {
	/delete-property/ default-state;
};
