// SPDX-License-Identifier: GPL-2.0 OR X11
/*
 * Copyright 2015-2022 Technologic Systems, Inc. dba embeddedTS
 */

#include <dt-bindings/leds/common.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	aliases {
		ethernet0 = &fec;
	};

	chosen {
		stdout-path = &uart1;
	};

	led-controller {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_POWER;
			gpios = <&gpio2 24 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-1 {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus {
		compatible = "regulator-fixed";
		regulator-name = "USB_OTG_VBUS";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio3 22 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_wlan_vmmc: regulator-wlan-vmmc {
		compatible = "regulator-fixed";
		regulator-name = "WLAN_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio8 14 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
	};
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&ecspi1 {
	num-cs = <1>;
	cs-gpios = <&gpio3 19 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	spiboot: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};

&ecspi2 {
	num-cs = <1>;
	cs-gpios = <&gpio6 2 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	status = "okay";

	max3100ts: serial@0 {
		compatible = "technologic,max3100-ts";
		reg = <0>;
		interrupt-parent = <&gpio1>;
		interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
		spi-max-frequency = <1000000>;
		clock-frequency = <3686400>;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	interrupts-extended = <&gpio1 6 IRQ_TYPE_LEVEL_HIGH>,
			      <&intc 0 119 IRQ_TYPE_LEVEL_HIGH>;
	fsl,err006687-workaround-present;
	phy-mode = "rgmii";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		eth_phy: ethernet-phy@7 {
			reg = <0x7>;
			txen-skew-ps = <0>;
			txc-skew-ps = <3000>;
			rxdv-skew-ps = <0>;
			rxc-skew-ps = <3000>;
			rxd0-skew-ps = <0>;
			rxd1-skew-ps = <0>;
			rxd2-skew-ps = <0>;
			rxd3-skew-ps = <0>;
			txd0-skew-ps = <0>;
			txd1-skew-ps = <0>;
			txd2-skew-ps = <0>;
			txd3-skew-ps = <0>;
		};
	};
};

&gpio1 {
	gpio-line-names = "AUD_MCLK", "", "", "", "", "REVA_DIO_1", "", "", "",
		"REVA_DIO_3", "", "", "", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "", "", "";
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "", "", "", "", "", "", "", "",
		"", "", "DIO_2", "DIO_18", "DIO_12", "DIO_16", "EN_LCD_3.3V",
		"DIO_14", "OFF_BD_RESET#", "EN_USB_5V#", "BUS_CS#", "", "DIO_15", "BUS_DIR",
		"BUS_ALE", "EN_SD_POWER#", "DIO_10", "", "";
};

&gpio3 {
	gpio-line-names = "MUX_AD_00", "MUX_AD_01", "MUX_AD_02", "MUX_AD_03",
		"MUX_AD_04", "MUX_AD_05", "MUX_AD_06", "MUX_AD_07", "MUX_AD_08",
		"MUX_AD_09", "MUX_AD_10", "MUX_AD_11", "MUX_AD_12", "MUX_AD_13",
		"MUX_AD_14", "MUX_AD_15", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "BUS_BHE#";
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "DIO_7", "", "", "", "", "", "",
		"", "", "", "", "LCD_CLK", "LCD_DE", "LCD_HSYNC", "LCD_VSYNC",
		"", "LCD_D00", "LCD_D01", "LCD_D02", "LCD_D03", "LCD_D04",
		"LCD_D05", "LCD_D06", "LCD_D07", "LCD_D08", "LCD_D08",
		"LCD_D10";
};

&gpio5 {
	gpio-line-names = "EIM_WAIT#", "", "", "", "DIO_20", "LCD_D11",
		"LCD_D12", "LCD_D13", "LCD_D14", "LCD_D15", "LCD_D16",
		"LCD_D17","LCD_D18", "LCD_D19", "LCD_D20", "LCD_D21",
		"LCD_D22", "LCD_D23", "DIO_9", "DIO_8", "FPGA_DONE",
		"FPGA_RESET#", "AUD_CLK", "AUD_TXD", "AUD_FRM", "AUD_RXD",
		"", "", "", "", "DIO_0", "DIO_6";
};

&gpio6 {
	gpio-line-names = "", "", "", "CPU_DIO_A", "", "", "DIO_19", "", "",
		"", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "DIO_13";
};

&gpio7 {
	gpio-line-names = "", "", "", "", "", "", "", "", "CPU_DIO_B", "", "",
		"DIO_4", "DIO_5", "", "", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio3 21 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio3 28 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	isl12022: rtc@6f {
		compatible = "isil,isl12022";
		reg = <0x6f>;
		btse-minutes = <1>;
		isil,battery-trip-levels-microvolt = <2550000>, <2250000>;
		#clock-cells = <0>;
	};

	isl12022_sram: eeprom@57 {
		compatible = "atmel,24c01";
		reg = <0x57>;
		label = "isl12022-SRAM";
		pagesize = <128>;
		size = <128>;
		address-width = <8>;
	};

	gpio8: gpio@28 {
		compatible = "technologic,ts4900-gpio";
		reg = <0x28>;
		#gpio-cells = <2>;
		gpio-controller;
		ngpios = <32>;

		gpio-line-names = "CN1_63", "CN1_67", "CN1_87", "REVA_MUX_AD_15",
			"REVA_CN2_54", "CN2_78", "CN2_80", "CN2_86", "CN2_88",
			"CN2_94", "CN2_96", "CN2_98", "CN2_100", "", "", "", "",
			"", "", "", "",	"", "", "", "", "", "", "", "", "", "",
			"PUSH_SW#";
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	scl-gpios = <&gpio4 12 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio4 13 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO			0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI			0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK			0x100b1
			MX6QDL_PAD_EIM_D19__GPIO3_IO19			0x100b1 /* Onboard flash CS1# */
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT8__ECSPI2_SCLK		0x100b1
			MX6QDL_PAD_CSI0_DAT9__ECSPI2_MOSI		0x100b1
			MX6QDL_PAD_CSI0_DAT10__ECSPI2_MISO		0x100b1
			MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29		0x100b1 /* Offboard CS0# */
			MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02		0x100b1 /* FPGA CS1# */
			MX6QDL_PAD_GPIO_4__GPIO1_IO04			0x1b0b1 /* FPGA_IRQ */
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO			0x1b0b0
			MX6QDL_PAD_ENET_MDC__ENET_MDC			0x1b0b0
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC			0x1b030
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0			0x1b030
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1			0x1b030
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2			0x1b030
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3			0x1b030
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL		0x1b030
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC			0x1b030
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0			0x1b030
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1			0x1b030
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2			0x1b030
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3			0x1b030
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL		0x1b030
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK		0x4001b0a8
			MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28		0x1b0b1
			MX6QDL_PAD_DI0_PIN4__GPIO4_IO20			0x1b0b1 /* ETH_PHY_RESET */
			MX6QDL_PAD_GPIO_6__ENET_IRQ			0x000b1
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX		0x1b0b1
			MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX		0x1b0b1
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL4__FLEXCAN2_TX		0x1b0b1
			MX6QDL_PAD_KEY_ROW4__FLEXCAN2_RX		0x1b0b1
		>;
	};

	pinctrl_pcie: pciegrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_A17__GPIO2_IO21			0x1b088 /* OFF_BD_RESET#/PE_RST# */
		>;
	};

	/* Pins common to ALL baseboards that are always GPIO */
	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_DAT7__GPIO2_IO15			0x1b0b1 /* DIO_2 */
			MX6QDL_PAD_EIM_A22__GPIO2_IO16			0x1b0b1 /* DIO_18 */
			MX6QDL_PAD_EIM_A21__GPIO2_IO17			0x1b0b1 /* DIO_12 */
			MX6QDL_PAD_EIM_A20__GPIO2_IO18			0x1b0b1 /* DIO_16 */
			MX6QDL_PAD_EIM_A18__GPIO2_IO20			0x1b0b1 /* DIO_14 */
			MX6QDL_PAD_EIM_A16__GPIO2_IO22			0x1b0b1 /* EN_USB_5V# */
			MX6QDL_PAD_EIM_OE__GPIO2_IO25			0x1b0b1 /* DIO_15 */
			MX6QDL_PAD_GPIO_19__GPIO4_IO05			0x1b0b1 /* DIO_7 */
			MX6QDL_PAD_EIM_A24__GPIO5_IO04			0x1b0b1 /* DIO_20 */
			MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18		0x1b0b1 /* DIO_9 */
			MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19		0x1b0b1 /* DIO_8 */
			MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20		0x1b0b1 /* FPGA_DONE */
			MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21		0x1b0b1 /* FPGA_RESET# */
			MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30		0x1b0b1 /* DIO_0 */
			MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31		0x1b0b1 /* DIO_6 */
			MX6QDL_PAD_CSI0_DAT17__GPIO6_IO03		0x1b0b1 /* CPU_DIO_A */
			MX6QDL_PAD_EIM_A23__GPIO6_IO06			0x1b0b1 /* DIO_19 */
			MX6QDL_PAD_GPIO_16__GPIO7_IO11			0x1b0b1 /* DIO_4 */
			MX6QDL_PAD_GPIO_17__GPIO7_IO12			0x1b0b1 /* DIO_5 */
			MX6QDL_PAD_SD3_RST__GPIO7_IO08			0x1b0b1 /* CPU_DIO_B */
			MX6QDL_PAD_EIM_BCLK__GPIO6_IO31			0x1b0b1 /* DIO_13 */
			MX6QDL_PAD_GPIO_3__XTALOSC_REF_CLK_24M		0x10    /* FPGA 24MHZ */
			/* Only on rev A PCBs */
			MX6QDL_PAD_GPIO_5__GPIO1_IO05			0x1b0b1 /* DIO_1 */
			MX6QDL_PAD_GPIO_9__GPIO1_IO09			0x1b0b1 /* DIO_3 */
		>;
	};

	pinctrl_muxbus_gpio: mbgpiogrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D31__GPIO3_IO31			0x1b0b1 /* DIO_10 */
			MX6QDL_PAD_EIM_EB1__GPIO2_IO29			0x1b0b1 /* BUS_BHE# */

			MX6QDL_PAD_EIM_WAIT__GPIO5_IO00			0x1b0b1 /* EIM_WAIT# */
			MX6QDL_PAD_EIM_CS0__GPIO2_IO23			0x1b0b1 /* BUS_CS# */
			MX6QDL_PAD_EIM_RW__GPIO2_IO26			0x1b0b1 /* BUS_DIR */
			MX6QDL_PAD_EIM_LBA__GPIO2_IO27			0x1b0b1 /* BUS_ALE# */
			MX6QDL_PAD_EIM_DA0__GPIO3_IO00			0x1b0b1 /* MUX_AD_00 */
			MX6QDL_PAD_EIM_DA1__GPIO3_IO01			0x1b0b1 /* MUX_AD_01 */
			MX6QDL_PAD_EIM_DA2__GPIO3_IO02			0x1b0b1 /* MUX_AD_02 */
			MX6QDL_PAD_EIM_DA3__GPIO3_IO03			0x1b0b1 /* MUX_AD_03 */
			MX6QDL_PAD_EIM_DA4__GPIO3_IO04			0x1b0b1 /* MUX_AD_04 */
			MX6QDL_PAD_EIM_DA5__GPIO3_IO05			0x1b0b1 /* MUX_AD_05 */
			MX6QDL_PAD_EIM_DA6__GPIO3_IO06			0x1b0b1 /* MUX_AD_06 */
			MX6QDL_PAD_EIM_DA7__GPIO3_IO07			0x1b0b1 /* MUX_AD_07 */
			MX6QDL_PAD_EIM_DA8__GPIO3_IO08			0x1b0b1 /* MUX_AD_08 */
			MX6QDL_PAD_EIM_DA9__GPIO3_IO09			0x1b0b1 /* MUX_AD_09 */
			MX6QDL_PAD_EIM_DA10__GPIO3_IO10			0x1b0b1 /* MUX_AD_10 */
			MX6QDL_PAD_EIM_DA11__GPIO3_IO11			0x1b0b1 /* MUX_AD_11 */
			MX6QDL_PAD_EIM_DA12__GPIO3_IO12			0x1b0b1 /* MUX_AD_12 */
			MX6QDL_PAD_EIM_DA13__GPIO3_IO13			0x1b0b1 /* MUX_AD_13 */
			MX6QDL_PAD_EIM_DA14__GPIO3_IO14			0x1b0b1 /* MUX_AD_14 */
			MX6QDL_PAD_EIM_DA15__GPIO3_IO15			0x1b0b1 /* MUX_AD_15 */
		>;
	};

	pinctrl_bb_spi: bbspigrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_DA11__GPIO3_IO11			0x1b088 /* IRQn (usually) */
			MX6QDL_PAD_EIM_DA12__GPIO3_IO12			0x1b088 /* CS# */
			MX6QDL_PAD_EIM_DA13__GPIO3_IO13			0x1b088 /* MISO */
			MX6QDL_PAD_EIM_DA14__GPIO3_IO14			0x1b088 /* MOSI */
			MX6QDL_PAD_EIM_DA15__GPIO3_IO15			0x1b088 /* CLK */
		>;
	};

	pinctrl_i2s: i2sgrp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT7__AUD3_RXD			0x130b0
			MX6QDL_PAD_CSI0_DAT4__AUD3_TXC			0x130b0
			MX6QDL_PAD_CSI0_DAT5__AUD3_TXD			0x110b0
			MX6QDL_PAD_CSI0_DAT6__AUD3_TXFS			0x130b0
			MX6QDL_PAD_GPIO_0__CCM_CLKO1			0x130b0 /* Audio CLK */
		>;
	};

	pinctrl_i2s_gpio: i2sgpiogrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__GPIO1_IO00			0x130b0 /* AUD_MCLK */
			MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22		0x1b0b1 /* AUD_CLK */
			MX6QDL_PAD_CSI0_DAT5__GPIO5_IO23		0x1b0b1 /* AUD_TXD */
			MX6QDL_PAD_CSI0_DAT6__GPIO5_IO24		0x1b0b1 /* AUD_FRM */
			MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25		0x1b0b1 /* AUD_RXD */
		>;
	};

	pinctrl_lcd: lcdgrp {
		fsl,pins = <
			MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK	0x38
			MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15		0xe0 /* DE */
			MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02		0xe0 /* Hsync */
			MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03		0xe0 /* Vsync */
			MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00	0xe0
			MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01	0xe0
			MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02	0xe0
			MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03	0xe0
			MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04	0xe0
			MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05	0xe0
			MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06	0xe0
			MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07	0xe0
			MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08	0xe0
			MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09	0xe0
			MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10	0xe0
			MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11	0xe0
			MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12	0xe0
			MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13	0xe0
			MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14	0xe0
			MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15	0xe0
			MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16	0xe0
			MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17	0xe0
			MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18	0xe0
			MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19	0xe0
			MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20	0xe0
			MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21	0xe0
			MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22	0xe0
			MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23	0xe0
		>;
	};

	pinctrl_lcd_gpio: lcdgpiogrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_A19__GPIO2_IO19			0x1b0b1 /* EN_LCD_3.3V */
			MX6QDL_PAD_DI0_DISP_CLK__GPIO4_IO16		0x1b0b1 /* LCD_CLK */
			MX6QDL_PAD_DI0_PIN15__GPIO4_IO17		0x1b0b1 /* DE */
			MX6QDL_PAD_DI0_PIN2__GPIO4_IO18			0x1b0b1 /* Hsync */
			MX6QDL_PAD_DI0_PIN3__GPIO4_IO19			0x1b0b1 /* Vsync */
			MX6QDL_PAD_DISP0_DAT0__GPIO4_IO21		0x1b0b1
			MX6QDL_PAD_DISP0_DAT1__GPIO4_IO22		0x1b0b1
			MX6QDL_PAD_DISP0_DAT2__GPIO4_IO23		0x1b0b1
			MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24		0x1b0b1
			MX6QDL_PAD_DISP0_DAT4__GPIO4_IO25		0x1b0b1
			MX6QDL_PAD_DISP0_DAT5__GPIO4_IO26		0x1b0b1
			MX6QDL_PAD_DISP0_DAT6__GPIO4_IO27		0x1b0b1
			MX6QDL_PAD_DISP0_DAT7__GPIO4_IO28		0x1b0b1
			MX6QDL_PAD_DISP0_DAT8__GPIO4_IO29		0x1b0b1
			MX6QDL_PAD_DISP0_DAT9__GPIO4_IO30		0x1b0b1
			MX6QDL_PAD_DISP0_DAT10__GPIO4_IO31		0x1b0b1
			MX6QDL_PAD_DISP0_DAT11__GPIO5_IO05		0x1b0b1
			MX6QDL_PAD_DISP0_DAT12__GPIO5_IO06		0x1b0b1
			MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07		0x1b0b1
			MX6QDL_PAD_DISP0_DAT14__GPIO5_IO08		0x1b0b1
			MX6QDL_PAD_DISP0_DAT15__GPIO5_IO09		0x1b0b1
			MX6QDL_PAD_DISP0_DAT16__GPIO5_IO10		0x1b0b1
			MX6QDL_PAD_DISP0_DAT17__GPIO5_IO11		0x1b0b1
			MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12		0x1b0b1
			MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13		0x1b0b1
			MX6QDL_PAD_DISP0_DAT20__GPIO5_IO14		0x1b0b1
			MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15		0x1b0b1
			MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16		0x1b0b1
			MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17		0x1b0b1
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL			0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA			0x4001b8b1
		>;
	};

	pinctrl_i2c1_gpio: i2c1gpiogrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__GPIO3_IO21			0x4001b8b1
			MX6QDL_PAD_EIM_D28__GPIO3_IO28			0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL			0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA			0x4001b8b1
		>;
	};

	pinctrl_i2c2_gpio: i2c2gpiogrp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__GPIO4_IO12			0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__GPIO4_IO13			0x4001b8b1
		>;
	};

	pinctrl_gpio_leds: leds1grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_2__GPIO1_IO02			0x1b0b1 /* RED_LED# */
			MX6QDL_PAD_EIM_CS1__GPIO2_IO24			0x1b0b1 /* GREEN_LED# */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA		0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA		0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_7__UART2_TX_DATA		0x1b0b1
			MX6QDL_PAD_GPIO_8__UART2_RX_DATA		0x1b0b1
			MX6QDL_PAD_SD4_DAT6__UART2_CTS_B		0x1b0b1
			MX6QDL_PAD_SD4_DAT5__UART2_RTS_B		0x1b0b1
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA		0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA		0x1b0b1
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL0__UART4_TX_DATA		0x1b0b1
			MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA		0x1b0b1
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL1__UART5_TX_DATA		0x1b0b1
			MX6QDL_PAD_KEY_ROW1__UART5_RX_DATA		0x1b0b1
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID			0x17059
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__SD1_CMD			0x17059
			MX6QDL_PAD_SD1_CLK__SD1_CLK			0x17059
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0			0x17059
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1			0x17059
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2			0x17059
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3			0x17059
			MX6QDL_PAD_ENET_RXD0__GPIO1_IO27		0x17059 /* BT_EN */
			MX6QDL_PAD_ENET_RXD1__GPIO1_IO26		0x17059 /* WIFI IRQ / WIFI_EN */
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp-100mhz {
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__SD1_CMD			0x170B9
			MX6QDL_PAD_SD1_CLK__SD1_CLK			0x100B9
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0			0x170B9
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1			0x170B9
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2			0x170B9
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3			0x170B9
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp-200mhz {
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__SD1_CMD			0x170F9
			MX6QDL_PAD_SD1_CLK__SD1_CLK			0x100F9
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0			0x170F9
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1			0x170F9
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2			0x170F9
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3			0x170F9
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX6QDL_PAD_SD2_CMD__SD2_CMD			0x17059
			MX6QDL_PAD_SD2_CLK__SD2_CLK			0x10059
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0			0x17059
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1			0x17059
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2			0x17059
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3			0x17059
			MX6QDL_PAD_EIM_EB0__GPIO2_IO28			0x1b0b1 /* EN_SD_POWER# */
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD			0x17059
			MX6QDL_PAD_SD3_CLK__SD3_CLK			0x10059
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0			0x17059
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1			0x17059
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2			0x17059
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3			0x17059
		>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpio = <&gpio2 21 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&snvs_rtc {
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	uart-has-rtscts;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&usbh1 {
	disable-over-current;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	vmmc-supply = <&reg_wlan_vmmc>;
	vqmmc-supply = <&reg_1v8>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	cap-sdio-irq;
	fsl,tuning-step = <2>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	wlcore: wlcore@2 {
		compatible = "ti,wl1271";
		reg = <2>;
		interrupt-parent = <&gpio1>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;
		ref-clock-frequency = <38400000>;
	};
};

/* SD */
&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	vmmc-supply = <&reg_3v3>;
	bus-width = <4>;
	fsl,wp-controller;
	status = "okay";
};

/* eMMC */
&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	vmmc-supply = <&reg_3v3>;
	bus-width = <4>;
	non-removable;
	status = "okay";
};
