/ {
        aliases {
                mmc0 = &usdhc2;
                mmc1 = &usdhc3;
                usb0 = &usbotg;
                video0 = &ipu1;
        };

        soc {
                bootph-pre-ram;
                bootph-all;

                bus@2000000 {
                        bootph-pre-ram;
                        spba-bus@2000000 {
                                bootph-pre-ram;
                        };
                };

                bus@2100000 {
                        bootph-pre-ram;
                };
        };
};

&usdhc3 {
        no-1-8-v;
        bootph-pre-ram;
};

&pinctrl_usdhc3 {
        bootph-pre-ram;
};

&gpio1 {
        bootph-pre-ram;
};

&iomuxc {
        bootph-pre-ram;
};

&ipu1 {
        bootph-all;
};

